*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f5f5f5;
}

/* NAVBAR */

.navbar{
    background:#1e1e2f;
}

.navbar-brand{
    color:white !important;
    font-size:28px;
    font-weight:bold;
}

.nav-link{
    color:white !important;
    margin-left:20px;
    transition:0.5s;
}

.nav-link:hover{
    color:#00d9ff !important;
}

/* HERO */

.hero{
    height:100vh;
    background:linear-gradient(rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),
    url('https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?q=80&w=1600')
    center/cover no-repeat;

    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
}

.hero h1{
    font-size:70px;
}

.hero p{
    font-size:22px;
    margin-top:20px;
}

.btn-custom{
    padding:12px 35px;
    border:none;
    background:#00d9ff;
    border-radius:30px;
    font-size:18px;
    transition:0.5s;
}

.btn-custom:hover{
    transform:scale(1.1);
    background:white;
}

/* TYPOGRAPHY */

.typography{
    padding:80px 20px;
    text-align:center;
    background:white;
}

.typography h1{
    font-size:60px;
    margin-bottom:20px;
}

.highlight{
    color:#ff1744;
    font-weight:bold;
}

/* GRID */

.grid-section{
    padding:80px 20px;
}

.grid-box{
    background:#1e1e2f;
    color:white;
    padding:50px;
    border-radius:20px;
    text-align:center;
    margin-bottom:20px;
    transition:0.5s;
}

.grid-box:hover{
    background:#00aaff;
    transform:translateY(-10px);
}

/* CARDS */

.card{
    border:none;
    border-radius:20px;
    overflow:hidden;
    transition:0.5s;
    box-shadow:0 5px 20px rgba(0,0,0,0.2);
}

.card img{
    height:250px;
    object-fit:cover;
    transition:0.5s;
}

.card:hover img{
    transform:scale(1.1);
}

.card:hover{
    transform:translateY(-10px);
}

/* CONTACT */

.contact-box{
    background:white;
    padding:40px;
    border-radius:20px;
    box-shadow:0 5px 20px rgba(0,0,0,0.2);
}

.form-control{
    margin-bottom:20px;
    height:50px;
}

textarea{
    height:120px !important;
}

.send-btn{
    width:100%;
    height:50px;
    border:none;
    background:#ff1744;
    color:white;
    border-radius:30px;
    font-size:18px;
}

/* FOOTER */

footer{
    background:#1e1e2f;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:50px;
}

/* RESPONSIVE */

@media(max-width:768px){

    .hero h1{
        font-size:40px;
    }

    .hero p{
        font-size:18px;
    }

    .typography h1{
        font-size:40px;
    }
}